$smallPadding: 1;
$middlePadding: 5vh;
$bigPadding: 95vh;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {  
  max-height: 100vh;  
  height: 100vh;
  display: grid;
  grid-template-rows: $middlePadding $bigPadding;
  position: relative;  
}

.navbar {  
  position: relative !important;
  display: grid !important;
  justify-items: center !important;
  align-items: center !important;
}

.main {  
  display: grid;
  overflow: hidden;
}

.news-page {  
  display: grid;
  grid-template-columns: 2fr 8fr;
}

.news-filter-container {  
  border-right: 1px solid rgb(86, 86, 252);
}

.news-catalog-container {  
  height: $bigPadding;
  display: grid;
  grid-template-rows: 95% 5%;  
  .news-catalog-container__tools-container {    
    display: grid;
    justify-content: center;
    align-content: center;
  }
}

.news-list {  
  overflow-y: auto;
  display: grid;
  justify-items: center;
  row-gap: 1%;
}

.news-box {
  width: 90%;
  display: grid;
  grid-template-columns: 30% 70%;  
  .news-box__image-container {
    display: grid;
    justify-content: center;
    align-content: center;
    .news-box__image-item {
      width: 10vw;
      height: 10vw;
    }
  }

  .news-box__description-container {
    display: grid;
    grid-template-rows: 10% 80% 10%;    
    .news-box__description-header {
      display: grid;
      grid-template-columns: 70% 30%;     
      .news-box__title {
        font-size: 12px !important;
        @media (max-height: 1224px) {
          font-size: 10px!important;
        }
         @media (max-height: 640px) {
          font-size: 6px!important;
        }      	
      } 
      .news-box__date {       
        font-size: 12px !important;
        @media (max-height: 1224px) {
          font-size: 10px!important;
        }  
        @media (max-height: 640px) {
          font-size: 6px!important;
        }
      } 
    }
    .news-box__description-main {
      padding: $smallPadding 0;
      overflow: hidden;
      @media (max-height: 1224px) {
        font-size: 10px !important;
       }	
    }
    .edit-tools {
      padding: 0 $smallPadding;
    }
    .edit-tools_right {
      float: right;
      margin-left: auto;
    }
  }
}

.modal-window-container {
  position: absolute;
	background-color:rgba(38,43,46,0.8);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;		
  z-index: 10000;
  .modal-news-container__header {
    display: grid;
    justify-content: center;
  }
    
}

.modal-news-container {
  position: absolute;
	width: 50vw;
	height: 50vh;
	top: 15vw;
	right: 20vw;
	z-index: 20000;
	background: white;
	overflow: auto;	
}

